<h2 id="title">Feed Me !</h2>
<div id="menubar">
    <ul>
        <li class="current"><a href="#" class="current">Home</a></li>
        <li><a href="#">Search</a></li>
        <li><a href="#">Update</a></li>
        <li><a href="#">Administration</a></li>
    </ul>
</div>
<div id="login" class="right">
    <form action="#">
        <input type="text" name="user" value="Username">
        <input type="password" name="passwpord" value="password">
        <input type="submit" value="Login">
    </form>
</div>
